/*got a font of google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*custom variables*/
:root {
    --colour-01: black;
    --colour-02: white;
    --colour-03: rgba(108, 108, 108, 0.667);
    --colour-04: lightgrey;

}

/*default styling for site*/
/*Making the site 'fixed', so that it isn't disorganised.*/
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /*STOPS SCROLL BAR FROM APPEARING*/
}

body {
    font-family: "Roboto Mono";
    background-color: var(--colour-03);
    color: var(--colour-01);
    padding: 10px;

    position: fixed;
    inset: 0; /*pins all edges to the viewport.*/
}


/*ELEMENT PLACEMENT*/
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    position: fixed;
}

main{
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps these centred.*/
    
    position: fixed;
}

.playPauseButton {
    top: 50%;
    left: 400px;
    transform: translate(-50%, -50%); /*Keeps these centred.*/

    position: fixed;
}

#test-button {
    color: rgb(44, 189, 12);
    border-radius: 6px;
    font-weight: 800;
    border-color: rgba(47, 255, 0, 0.729);

    left: 80px;
    top: 150px;
    position: fixed;
}

#key-test {
    /**/

    left: 200px;
    top: 150px;
    position: fixed;
}

#volume {
    /**/

    top: 50%;
    left: 100px;
    position: fixed;
}






dialog {
    /*align-items: center;*/
    text-align: center;
}


