/*got a font of google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*custom variables*/
:root {
    --colour-01: black;
    --colour-02: white;
    --colour-03: rgba(14, 35, 75, 0.667);
    --colour-04: lightgrey;

}

/*default styling for site*/
/*Making the site 'fixed', so that it isn't disorganised.*/
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /*STOPS SCROLL BAR FROM APPEARING*/
}

body {
    font-family: "Roboto Mono";
    background-color: var(--colour-03);
    color: var(--colour-01);
    padding: 10px;

    inset: 0; /*pins all edges to the viewport.*/
}


/*ELEMENT PLACEMENT*/
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}

.top-bar {
    display: flex;
    align-items: center;
    /*justify-content: 1rem 2rem;*/
    justify-content: space-between;
    background-color: var(--colour-02);
    
}

.divider {
    width: 1px;
    background-color: var(--colour-04);
    align-self: stretch; /*same height as others the div is in*/

}

main{
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Keeps these centred.*/  
    padding: 0px;
}

.playPauseButton {
    padding: 1%;
}

#test-button {
    /*not in function*/
    
    color: rgb(44, 189, 12);
    border-radius: 6px;
    font-weight: 800;
    border-color: rgba(47, 255, 0, 0.729);

}

#visualiser { /*test for now*/
    background-color: #ffffff76;
    flex: 1; /*fills*/
}

.whiteKey {
    width: 180px;
    height: 50px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    font-weight: bold;
    font-size: 1rem;
}

.whiteKey:active {
    background-color: #eee;
}

.keysRow {
    display: flex;
    flex-direction: column;

    gap: 2px; 
}

.SLIDERS {
    /**/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.instrument-area {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

dialog {
    /*align-items: center;*/
    text-align: center;
}


